{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block body %}

<div class="masthead jumbotron">
	<div class="container">
		<h1>Welcome to timerboard.net.</h1>
		<p>Once we're open to the public you'll be able to do the following:</p>
		<ul>
			<li>Log in via EVE Single Sign On</li>
			<li>Post timers for yourself, your corp, your alliance or your allies</li>
			<li>Offer timers to mercenary contracts via an easy-to-use interface</li>
			<li>and probably a few other things</li>
		</ul>
	</div>
</div>

{% endblock %}
